.cityName-Div {
    color:white;
    background-color:black;
    padding:10px;
    margin:4px;
}

#card{
    padding:1em;
    background: linear-gradient(blue,skyblue,lightskyblue);
    //box-shadow: 5px 5px 1px blue;
    img {
        position: absolute; 
        top: 10%;
        left:65%;
        height:64px;
        width: 64px;
    }
    .j{
        //display: none;
        
    }
    &:hover{
        box-shadow: 10px 20px 20px blue;
        .j{
            display: block;
        }

    }
    
}