$fontSize : large;
$margin : 1em;
$padding: 2em;
$fontWeight:bolder;
$fontColor:white;
$backgroundColor:black;

.topNavBar {
    //background-color: $backgroundColor;
    div{
        background-color: $backgroundColor;
        padding: $padding;
        a {
            font-size: $fontSize;
            font-weight: $fontWeight;
        }
        .lable {
            margin: $margin;
            padding: $padding;
            font-weight: $fontWeight;
            &:hover{
                background-color: rgba(56, 55, 55, 0.993);
            }
            .link {
                color:$fontColor;
               
            } 
        }
    }

    
}