
.cityName-Div {
    color:white;
    background-color:black;
    padding:10px;
    margin:4px;
   // 
}

#card-hourly{
    padding:1em;
    background: linear-gradient(rgb(0, 0, 255),black);
    box-shadow: 5px 5px 9px red;
    img {
        position: absolute; 
        top: 10%;
        left:65%;
        height:64px;
        width: 64px;
    }
    .j{
        //display: none;
    }
    &:hover{
        box-shadow: 10px 20px 10px red;
        border-radius: 2em;
        .j{
            display: block;
            color: white;
        }

    }
    
}