$position: relative;
.Header-container{
    background-color: #2185D0;
    width: 100%;
    height: 3em;
    p {
        position: $position;
        display: inline;
        top: -3px; 
        left: 10px; 
        font-weight: bolder;
        img {
            height: 30px;
            width: 30px;
            top: 10px;
            position: $position;
            border-radius: 8em;
        }
    }
    form {
        float: right;
        position: $position;
        button{
            margin: 10px;
            width: auto;
        }
    }
}